#about-me {
  .main_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px) {
      flex-flow: row wrap;
    }

    img {
      width: 80%;
      margin-bottom: 40px;

      @media (min-width: 460px) {
        width: 60%;
      }

      @media (min-width: 600px) {
        width: 50%;
      }

      @media (min-width: 900px) {
        width: 30%;
      }

      @media (min-width: 1024px) {
        width: 30%;
      }

      @media (min-width: 1200px) {
        width: 20%;
      }
    }

    .description {
      width: 80%;
      font-family: "PT Sans Narrow", sans-serif;

      @media (min-width: 600px) {
        width: 50%;
      }

      @media (min-width: 900px) {
        width: 40%;
      }

      @media (min-width: 1024px) {
        padding-left: 50px;
        width: 30%;
      }

      h5 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 900px) {
          font-size: 2rem;
        }
      }

      p {
        font-family: "Gill";
        font-size: 0.9rem;
        line-height: 2rem;
        letter-spacing: 2px;
        font-weight: 300;
        text-align: justify;

        @media (min-width: 900px) {
          font-size: 1.1rem;
        }
      }
    }
  }
}
