#about-me {
  .main_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px) {
      flex-flow: row wrap;
    }

    img {
      width: 80%;
      margin-bottom: 40px;

      @media (min-width: 460px) {
        width: 60%;
      }

      @media (min-width: 600px) {
        width: 50%;
      }

      @media (min-width: 900px) {
        width: 30%;
      }

      @media (min-width: 1024px) {
        width: 30%;
      }

      @media (min-width: 1200px) {
        width: 20%;
      }
    }

    .description {
      width: 80%;
      font-family: "PT Sans Narrow", sans-serif;

      @media (min-width: 600px) {
        width: 50%;
      }

      @media (min-width: 900px) {
        width: 40%;
      }

      @media (min-width: 1024px) {
        padding-left: 50px;
        width: 30%;
      }

      h5 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 900px) {
          font-size: 2rem;
        }
      }

      p {
        font-family: "Gill";
        font-size: 0.9rem;
        line-height: 2rem;
        letter-spacing: 2px;
        font-weight: 300;
        text-align: justify;

        @media (min-width: 900px) {
          font-size: 1.1rem;
        }
      }
    }
  }

  table {
    font-family: "PT Sans Narrow", sans-serif;
    letter-spacing: 3px;
    margin-bottom: 40px;
    margin-top: 50px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: $darkgray;

    thead {
      tr {
        color: $darkgray;
        height: 70px;
        th {
          cursor: pointer;
          background-color: $mint;
        }
      }
    }

    tbody {
      tr {
        background-color: $white;

        &:hover {
          background-color: $ecrie;
          transition: all .3s linear;
        }
      }
    }

    thead, tbody {
      text-transform: uppercase;
      tr {
        display: flex;
        td, th {
          justify-content: center;
          align-items: center;
          display: flex;
          flex: 1;
        }
      }

      th {
        background-color: $ecrie;
        font-size: .83333em;
        line-height: 1.8;
        padding:  15px 14px 13px 14px;
        position: relative;
        text-align: left;
        text-transform: uppercase;
      }
    }

    th, td {
      border: 1px solid #bfbfbf;
      padding: 10px 14px;
      position: relative;
      vertical-align: middle;
    }

    .sort-table-arrows {
      margin-left: 10px;
    }

    .experience, .technology, .technology_name {
      font-size: 0.8rem;

      @media(min-width: 600px) {
        font-size: 1rem;
      }

      @media(min-width: 768px) {
        font-size: 1.2rem;
      }
    }

    .experience_time, .technology_name_desc {
      font-size: 0.8rem;

      @media(min-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  .skills_slider {
    overflow: hidden;
    position: relative;
  }
}
