#experience {
  .experience_container {
    display: flex;
    justify-content: center;
  }

  #timeline {
    height: 300px;
    position: relative;
    // margin-top: 20px;
    left: 30px;
    // width: 0;
    // z-index: 1;
    //
    // @media(min-width: 768px) {
    //   left: 70px;
    //   width: 10px;
    // }

  .inside {
    transition: height 0.3s ease-in-out;
    position: absolute;
    background-color: $lightorange;
    height: 0px;
    width: 10px;
    top: 3px;
    left: 0;
  }
  .dot {
    z-index: 99;
    transition: 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    text-align: center;
    cursor: pointer;
    background-color: $mediumorange;

    @media(min-width: 768px) {
      left: 0px;
      top: -50px;
    }

    &:nth-child(1) {
      left: -16px;
      top: 0px;
    }
    &:nth-child(2) {
      left: -16px;
      top: 80px;
    }
    &:nth-child(3) {
      left: -16px;
      top: 160px;
    }
    &:nth-child(4) {
      left: -16px;
      top: 240px;
    }
    &:nth-child(5) {
      left: -16px;
      top: 320px;
    }
    &:hover {
      transform: scale(1.2);
    }
    date {
      font-family: roboto;
      font-size: 1.1rem;
      display: block;
      position: relative;
      text-align: center;
      left: 0;
      top: -65px;
    }
    span {
      display: inline-block;
      margin-top: 10px;
      width: 20px;
      height: 20px;
      background-color: $ecrie;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}

  .workplaces {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    cursor: pointer;

    @media(min-width: 768px) {
      flex-flow: row wrap;
      justify-content: space-around;
    }

    @media(min-width: 900px) {
      font-size: 1.2rem;
    }

    .workplace_name {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0px;

        @media(min-width: 768px) {
          margin-bottom: 25px;
        }
      }
    }
  }

  #workplaces_2016 {
    .workplace_name {
      cursor: pointer;
    }
  }
  .workplace_description {
    display: block;

    h6 {
      padding: 25px 0;
    }

    p {
      font-family: Lato;
      font-size: 1.1rem;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.5rem;

      @media(min-width: 900px) {
        font-size: 1.3rem;
      }
    }
  }

  .modal_content {
    display: none;
    position: relative;
    top: 0;
    max-width: 960px;
    background-color: $white;
    padding-left: 100px;

    @media(min-width: 1024px) {
      padding-left: 130px;
    }

    date {
      display: block;
      text-align: right;
    }
    h2 {
      font-family: merriweather, sans-serif;
      font-size: 5rem;
      padding: 10px 0;
      border-bottom: solid #111 2px;
      margin-bottom: 20px;
    }
    p {
      line-height: 130%;
    }
  }

  .active_workplace_description, .active_article {
    display: block;
  }
}
