//colors

$darkgray: #272626;
$red: #e74c3c;
$blue: #2980b9;
$midnight: #2c3e50;
$green: #7b3;
$pink: #ad1457;
$lightpink: #fce4ec;
$darkpink: #560027;
$white: #FFFFFF;
$candypink: #f06292;

//button settings

$circle-size: 40px;
$outside-circle-size: $circle-size + 10px;
$outside-circle-border: 2px;
$outside-circle-margin: (($outside-circle-size / 2) + $outside-circle-border) * -1;