@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

a {
  text-decoration: none;
  /* no underline */ }

@font-face {
  font-family: Canter;
  src: url("../fonts/Canter Light.otf"); }
@font-face {
  font-family: CanterThreeD;
  src: url("../fonts/Canter Bold 3D.otf"); }
@font-face {
  font-family: Pinstripe;
  src: url("../fonts/Pinstripe Limo.ttf"); }
@font-face {
  font-family: Gill;
  src: url("../fonts/GillSans.ttc"); }
body {
  font-size: 14px; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.fs_container {
  width: 100%;
  overflow-x: hidden; }

.header_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FF9E92; }

h2 {
  font-family: Canter;
  font-size: 6rem;
  line-height: 6rem; }
  @media (min-width: 480px) {
    h2 {
      font-size: 6.5rem;
      line-height: 6.5rem; } }
  @media (min-width: 600px) {
    h2 {
      font-size: 7rem;
      line-height: 7rem; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 7.5rem;
      line-height: 7.5rem; } }
  @media (min-width: 900px) {
    h2 {
      font-size: 8.5rem;
      line-height: 8.5rem; } }
  @media (min-width: 1024px) {
    h2 {
      font-size: 9rem;
      line-height: 9rem; } }
  @media (min-width: 1440px) {
    h2 {
      font-size: 10.5rem;
      line-height: 10.5rem; } }

h3 {
  font-family: Pinstripe;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  padding: 75px 0; }
  @media (min-width: 480px) {
    h3 {
      font-size: 4rem;
      line-height: 4rem; } }
  @media (min-width: 600px) {
    h3 {
      font-size: 5rem;
      line-height: 5rem; } }
  @media (min-width: 768px) {
    h3 {
      font-size: 6rem;
      line-height: 6rem; } }
  @media (min-width: 900px) {
    h3 {
      font-size: 6.5rem;
      line-height: 6.5rem; } }
  @media (min-width: 1024px) {
    h3 {
      font-size: 7rem;
      font-size: 7rem; } }
  @media (min-width: 1440px) {
    h3 {
      font-size: 8rem;
      line-height: 8rem; } }

h4 {
  font-family: CanterThreeD;
  font-size: 3.5rem;
  line-height: 3.5rem; }
  @media (min-width: 480px) {
    h4 {
      font-size: 3.8rem;
      line-height: 3.8rem; } }
  @media (min-width: 600px) {
    h4 {
      font-size: 4rem;
      line-height: 4rem; } }
  @media (min-width: 768px) {
    h4 {
      font-size: 4.2rem;
      line-height: 4.2rem; } }
  @media (min-width: 900px) {
    h4 {
      font-size: 4.5rem;
      line-height: 4.5rem; } }
  @media (min-width: 1024px) {
    h4 {
      font-size: 4.8rem;
      line-height: 4.8rem; } }
  @media (min-width: 1440px) {
    h4 {
      font-size: 5.2rem;
      line-height: 5.2rem; } }

h6 {
  font-family: Lato;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 1px;
  padding: 15px 0; }
  @media (min-width: 600px) {
    h6 {
      font-size: 1.5rem;
      line-height: 1.5rem; } }
  @media (min-width: 900px) {
    h6 {
      font-size: 1.8rem;
      line-height: 1.8rem; } }
  @media (min-width: 1440px) {
    h6 {
      font-size: 2rem;
      line-height: 2rem; } }

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(0px); } }
@keyframes showEnvelopeTop {
  0% {
    border-bottom: 0vh solid #FFDECB;
    top: 0; }
  100% {
    border-bottom: 20vh solid #FFDECB;
    top: -50%; } }
@keyframes hideEnvelopeTop {
  0% {
    border-bottom: 20vh solid #FFDECB;
    top: -50%; }
  100% {
    border-bottom: 0vh solid #FFDECB;
    top: 0; } }
@keyframes hideEnvelopeBottom {
  0% {
    border-bottom: 20vh solid #FFDECB;
    z-index: 10; }
  100% {
    border-bottom: 0vh solid #FFDECB;
    z-index: 0; } }
@keyframes showEnvelopeBottom {
  0% {
    border-bottom: 0vh solid #FFDECB;
    z-index: 10; }
  100% {
    border-bottom: 20vh solid #FFDECB;
    z-index: 10; } }
@keyframes showContactBox {
  0% {
    top: 50%;
    visibility: hidden;
    z-index: 0; }
  50% {
    top: -50%;
    z-index: 0;
    visibility: visible; }
  100% {
    top: 50%;
    z-index: 15;
    visibility: visible; } }
@keyframes hideContactBox {
  0% {
    top: 50%;
    z-index: 15; }
  50% {
    top: -50%;
    z-index: 0; }
  100% {
    top: 50%;
    z-index: 0; } }
@keyframes moveEnvelopeTop {
  0% {
    margin-top: 0; }
  100% {
    margin-top: 15vh; } }
@keyframes moveEnvelopeBottom {
  0% {
    margin-top: 15vh; }
  100% {
    margin-top: 0; } }
nav {
  z-index: 999;
  background: #E85359;
  min-height: 80px;
  height: 100%;
  width: 100%; }
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%; }
    @media screen and (min-width: 768px) {
      nav .container {
        flex-direction: row; } }
  nav .nav_header {
    padding: 20px 0; }
    @media (min-width: 768px) {
      nav .nav_header {
        padding: 0 25px; } }
    nav .nav_header h1 {
      font-size: 2rem;
      font-weight: 400;
      font-family: CanterThreeD; }
      @media (min-width: 768px) {
        nav .nav_header h1 {
          font-size: 2.3rem; } }
      @media (min-width: 1024px) {
        nav .nav_header h1 {
          font-size: 3rem; } }
      nav .nav_header h1 a {
        letter-spacing: 2px;
        text-decoration: none;
        color: #FFF9E9; }
  nav button.hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer; }
    @media (min-width: 768px) {
      nav button.hamburger {
        display: none; } }
  nav .links {
    display: flex;
    justify-content: center;
    order: 3;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden; }
    @media (min-width: 768px) {
      nav .links {
        order: 2;
        flex-direction: row;
        justify-content: space-around;
        max-height: initial;
        padding: 25px 0; } }
    nav .links.active {
      max-height: 500px;
      transition: max-height 0.5s ease-in; }
    nav .links li {
      font-size: 1.4rem;
      font-family: Canter;
      margin: 19px 0; }
      @media (min-width: 768px) {
        nav .links li {
          padding-right: 25px;
          margin: 0; } }
      @media (min-width: 900px) {
        nav .links li {
          font-size: 1.76rem; } }
      @media (min-width: 1024px) {
        nav .links li {
          padding-right: 47px; } }
      nav .links li a {
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        letter-spacing: 2px;
        color: #FFF9E9; }
      nav .links li .active_link {
        border-bottom: 1px solid #FFF9E9; }
  nav button.is-active .links {
    display: block; }
  nav button .links {
    display: none; }
  nav .redirect_to_cv {
    text-align: center;
    letter-spacing: 1px; }
    nav .redirect_to_cv:before {
      border-radius: 40px;
      border: 2px solid #FFF9E9;
      box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 50px;
      width: 50px;
      margin-left: -27px;
      margin-top: -27px;
      opacity: 1;
      transform: scale(1);
      transition: all 300ms; }
    nav .redirect_to_cv:hover:before {
      transform: scale(1.05); }
    nav .redirect_to_cv.circle {
      background: #FFDECB;
      border: none;
      border-radius: 900px;
      color: #272626;
      cursor: pointer;
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      position: relative;
      transition: 0.5s; }
      nav .redirect_to_cv.circle:hover {
        background: #FFDECB;
        padding: -2px; }
  nav .social_icons {
    display: flex;
    align-items: center;
    order: 2;
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      nav .social_icons {
        order: 3;
        padding: 0; } }
    nav .social_icons a {
      color: #FFDECB;
      margin: 0 20px; }
      @media (min-width: 768px) {
        nav .social_icons a {
          margin: 0 12px; } }
      @media (min-width: 900px) {
        nav .social_icons a {
          margin-right: 27px; } }
      nav .social_icons a i {
        font-size: 1.76rem; }

#portfolio ul.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  #portfolio ul.columns .single_column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 60px;
    border: none;
    position: relative; }
    @media (min-width: 480px) {
      #portfolio ul.columns .single_column {
        width: 80%; } }
    @media (min-width: 768px) {
      #portfolio ul.columns .single_column {
        width: 70%; } }
    @media (min-width: 1024px) {
      #portfolio ul.columns .single_column {
        width: 49%;
        border-bottom: 2px solid #fbfafa;
        border-right: 2px solid #fbfafa; } }
    #portfolio ul.columns .single_column:nth-of-type(even) {
      border-right: none; }
    #portfolio ul.columns .single_column .small_view {
      float: left;
      margin-left: 3px;
      overflow: hidden;
      position: relative;
      height: 150px;
      width: 80%;
      overflow: hidden;
      border: 2px solid #dadada; }
      @media (min-width: 360px) {
        #portfolio ul.columns .single_column .small_view {
          height: 200px; } }
      @media (min-width: 480px) {
        #portfolio ul.columns .single_column .small_view {
          height: 250px; } }
      @media (min-width: 600px) {
        #portfolio ul.columns .single_column .small_view {
          height: 280px; } }
      @media (min-width: 768px) {
        #portfolio ul.columns .single_column .small_view {
          height: 300px; } }
      @media (min-width: 1024px) {
        #portfolio ul.columns .single_column .small_view {
          height: 350px; } }
      #portfolio ul.columns .single_column .small_view img {
        width: 100%;
        position: absolute;
        transition: top 20s ease-out 0.2s; }
      #portfolio ul.columns .single_column .small_view .img_layer {
        position: absolute;
        top: 100%;
        width: 0;
        height: 0;
        border-top: 350px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 560px solid #C9EDEB;
        opacity: 0.8;
        transition: 0.5s ease-in-out; }
        #portfolio ul.columns .single_column .small_view .img_layer p {
          font-family: Canter;
          font-size: 2rem;
          color: #272626;
          text-align: left;
          top: -250px;
          left: -508px;
          position: relative;
          width: 93px;
          margin: 0px;
          margin-bottom: 15px;
          text-transform: uppercase; }
      @media (min-width: 1400px) {
        #portfolio ul.columns .single_column .small_view:hover .img_layer {
          top: 0%; } }
    @media (min-width: 1400px) {
      #portfolio ul.columns .single_column .more_info {
        display: none; } }
    #portfolio ul.columns .single_column .more_info .triangle {
      position: relative;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 20px solid #dadada;
      margin: 0 auto; }
    #portfolio ul.columns .single_column .more_info .box_info {
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease-in; }
      #portfolio ul.columns .single_column .more_info .box_info ul {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        text-align: center; }
        #portfolio ul.columns .single_column .more_info .box_info ul li {
          margin-bottom: 5px; }

#about-me .main_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1024px) {
    #about-me .main_info {
      flex-flow: row wrap; } }
  #about-me .main_info img {
    width: 80%;
    margin-bottom: 40px; }
    @media (min-width: 460px) {
      #about-me .main_info img {
        width: 60%; } }
    @media (min-width: 600px) {
      #about-me .main_info img {
        width: 50%; } }
    @media (min-width: 900px) {
      #about-me .main_info img {
        width: 30%; } }
    @media (min-width: 1024px) {
      #about-me .main_info img {
        width: 30%; } }
    @media (min-width: 1200px) {
      #about-me .main_info img {
        width: 20%; } }
  #about-me .main_info .description {
    width: 80%;
    font-family: "PT Sans Narrow", sans-serif; }
    @media (min-width: 600px) {
      #about-me .main_info .description {
        width: 50%; } }
    @media (min-width: 900px) {
      #about-me .main_info .description {
        width: 40%; } }
    @media (min-width: 1024px) {
      #about-me .main_info .description {
        padding-left: 50px;
        width: 30%; } }
    #about-me .main_info .description h5 {
      font-size: 1.5rem;
      letter-spacing: 1px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase; }
      @media (min-width: 900px) {
        #about-me .main_info .description h5 {
          font-size: 2rem; } }
    #about-me .main_info .description p {
      font-family: "Gill";
      font-size: 0.9rem;
      line-height: 2rem;
      letter-spacing: 2px;
      font-weight: 300;
      text-align: justify; }
      @media (min-width: 900px) {
        #about-me .main_info .description p {
          font-size: 1.1rem; } }

#skills table {
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 3px;
  margin-bottom: 40px;
  margin-top: 50px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #272626; }
  #skills table thead tr {
    color: #272626;
    height: 70px; }
    #skills table thead tr th {
      cursor: pointer;
      background-color: #C9EDEB; }
  #skills table tbody tr {
    background-color: #FFFFFF; }
    #skills table tbody tr:hover {
      background-color: #FFF9E9;
      transition: all 0.3s linear; }
  #skills table thead, #skills table tbody {
    text-transform: uppercase; }
    #skills table thead tr, #skills table tbody tr {
      display: flex; }
      #skills table thead tr td, #skills table thead tr th, #skills table tbody tr td, #skills table tbody tr th {
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1; }
    #skills table thead th, #skills table tbody th {
      background-color: #FFF9E9;
      font-size: .83333em;
      line-height: 1.8;
      padding: 15px 14px 13px 14px;
      position: relative;
      text-align: left;
      text-transform: uppercase; }
  #skills table th, #skills table td {
    border: 1px solid #bfbfbf;
    padding: 10px 14px;
    position: relative;
    vertical-align: middle; }
  #skills table .sort-table-arrows {
    margin-left: 10px; }
  #skills table .experience, #skills table .technology, #skills table .technology_name {
    font-size: 0.8rem; }
    @media (min-width: 600px) {
      #skills table .experience, #skills table .technology, #skills table .technology_name {
        font-size: 1rem; } }
    @media (min-width: 768px) {
      #skills table .experience, #skills table .technology, #skills table .technology_name {
        font-size: 1.2rem; } }
  #skills table .experience_time, #skills table .technology_name_desc {
    font-size: 0.8rem; }
    @media (min-width: 768px) {
      #skills table .experience_time, #skills table .technology_name_desc {
        font-size: 1rem; } }

#experience .experience_container {
  display: flex;
  justify-content: center; }
#experience #timeline {
  background-color: #E85359;
  height: 500px;
  position: relative;
  margin-top: 20px;
  left: 30px;
  width: 0;
  z-index: 1; }
  @media (min-width: 768px) {
    #experience #timeline {
      left: 70px;
      width: 10px; } }
  #experience #timeline .inside {
    transition: height 0.3s ease-in-out;
    position: absolute;
    background-color: #FFDECB;
    height: 0px;
    width: 10px;
    top: 3px;
    left: 0; }
  #experience #timeline .dot {
    z-index: 99;
    transition: 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    text-align: center;
    cursor: pointer;
    background-color: #FF9E92; }
    @media (min-width: 768px) {
      #experience #timeline .dot {
        left: 0px;
        top: -50px; } }
    #experience #timeline .dot:nth-child(1) {
      left: -16px;
      top: 0px; }
    #experience #timeline .dot:nth-child(2) {
      left: -16px;
      top: 65px; }
    #experience #timeline .dot:nth-child(3) {
      left: -16px;
      top: 130px; }
    #experience #timeline .dot:nth-child(4) {
      left: -16px;
      top: 195px; }
    #experience #timeline .dot:hover {
      transform: scale(1.2); }
    #experience #timeline .dot date {
      font-family: roboto;
      font-size: 1.1rem;
      display: block;
      position: relative;
      text-align: center;
      left: 0;
      top: -50px; }
      @media (min-width: 768px) {
        #experience #timeline .dot date {
          left: -45px;
          top: -20px; } }
    #experience #timeline .dot span {
      display: inline-block;
      margin-top: 10px;
      width: 20px;
      height: 20px;
      background-color: #FFF9E9;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
#experience .workplaces {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  cursor: pointer; }
  @media (min-width: 768px) {
    #experience .workplaces {
      flex-flow: row wrap;
      justify-content: space-around; } }
  @media (min-width: 900px) {
    #experience .workplaces {
      font-size: 1.2rem; } }
  #experience .workplaces .workplace_name {
    margin-bottom: 25px; }
    #experience .workplaces .workplace_name:last-child {
      margin-bottom: 0px; }
      @media (min-width: 768px) {
        #experience .workplaces .workplace_name:last-child {
          margin-bottom: 25px; } }
#experience #workplaces_2016 .workplace_name {
  cursor: pointer; }
#experience .workplace_description {
  display: block; }
  #experience .workplace_description h6 {
    padding: 25px 0; }
  #experience .workplace_description p {
    font-family: Lato;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5rem; }
    @media (min-width: 900px) {
      #experience .workplace_description p {
        font-size: 1.3rem; } }
#experience .modal_content {
  display: none;
  position: relative;
  top: 0;
  max-width: 960px;
  background-color: #FFFFFF;
  padding-left: 75px; }
  @media (min-width: 768px) {
    #experience .modal_content {
      padding-left: 95px; } }
  @media (min-width: 1024px) {
    #experience .modal_content {
      padding-left: 130px; } }
  #experience .modal_content date {
    display: block;
    text-align: right; }
  #experience .modal_content h2 {
    font-family: merriweather, sans-serif;
    font-size: 5rem;
    padding: 10px 0;
    border-bottom: solid #111 2px;
    margin-bottom: 20px; }
  #experience .modal_content p {
    line-height: 130%; }
#experience .active_workplace_description, #experience .active_article {
  display: block; }

#contact-me .envelope {
  width: 100vw;
  height: 40vh;
  position: relative;
  margin: 100px auto; }
  @media (min-width: 600px) {
    #contact-me .envelope {
      width: 50vw; } }
  #contact-me .envelope .envelope_top {
    position: absolute;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    z-index: -1; }
    @media (min-width: 600px) {
      #contact-me .envelope .envelope_top {
        border-left: 25vw solid transparent;
        border-right: 25vw solid transparent; } }
  #contact-me .envelope .show_envelope_top {
    animation: showEnvelopeTop 500ms ease-in-out forwards;
    animation-delay: 1000ms;
    top: 0; }
  #contact-me .envelope .hide_envelope_top {
    border-bottom: 20vh solid #FFDECB;
    top: -50%;
    animation: hideEnvelopeTop 1000ms ease-in-out forwards;
    animation-delay: 3000ms; }
  #contact-me .envelope .open_contact_box {
    font-family: "Lato", sans-serif;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background: #FFF9E9;
    color: #272626;
    display: block;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 2px; }
    #contact-me .envelope .open_contact_box::before {
      border-radius: 100%;
      border: 2px solid #FFF9E9;
      box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 120px;
      width: 120px;
      margin-left: -61px;
      margin-top: -61px;
      opacity: 1;
      transform: scale(1);
      transition: all 300ms; }
    #contact-me .envelope .open_contact_box:hover:before {
      transform: scale(1.05); }
  #contact-me .envelope::before, #contact-me .envelope::after, #contact-me .envelope .envelope_sides::before, #contact-me .envelope .envelope_sides::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute; }
  #contact-me .envelope::before {
    top: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 20vh solid #FFDECB;
    transform: rotate(180deg);
    z-index: 1; }
    @media (min-width: 600px) {
      #contact-me .envelope::before {
        border-left: 25vw solid transparent;
        border-right: 25vw solid transparent; } }
  #contact-me .envelope::after {
    bottom: 0;
    border-bottom: 26vh solid #FFDECB;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent; }
    @media (min-width: 600px) {
      #contact-me .envelope::after {
        border-left: 25vw solid transparent;
        border-right: 25vw solid transparent; } }
  #contact-me .envelope .envelope_sides::before, #contact-me .envelope .envelope_sides:after {
    bottom: 0;
    border-bottom: 20vh solid transparent;
    border-top: 20vh solid transparent; }
  #contact-me .envelope .envelope_sides:before {
    left: 0;
    border-left: 50vw solid #FF9E92; }
    @media (min-width: 600px) {
      #contact-me .envelope .envelope_sides:before {
        border-left: 25vw solid #FF9E92; } }
  #contact-me .envelope .envelope_sides:after {
    right: 0;
    border-right: 50vw solid #FF9E92; }
    @media (min-width: 600px) {
      #contact-me .envelope .envelope_sides:after {
        border-right: 25vw solid #FF9E92; } }
#contact-me .hide_envelope_bottom::before {
  animation: hideEnvelopeBottom 1000ms ease-in-out forwards; }
#contact-me .hide_envelope_bottom {
  animation: moveEnvelopeTop 800ms ease-in-out forwards;
  animation-delay: 900ms; }
#contact-me .show_envelope_bottom::before {
  border-bottom: 0vh solid #FFDECB;
  animation: showEnvelopeBottom 1000ms ease-in-out forwards;
  animation-delay: 4000ms; }
#contact-me .show_envelope_bottom {
  margin-top: 15vh;
  animation: moveEnvelopeBottom 800ms ease-in-out forwards;
  animation-delay: 3000ms; }
#contact-me .envelope_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  width: 100vw;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #FFF9E9; }
  @media (min-width: 600px) {
    #contact-me .envelope_box {
      width: 50vw; } }
  #contact-me .envelope_box li {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-right: 10px; }
    #contact-me .envelope_box li:last-child {
      margin-bottom: 0px; }
  #contact-me .envelope_box a {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    color: #455a64; }
#contact-me .visible_element {
  visibility: visible;
  transition: visibility 500ms ease-in-out;
  animation: showContactBox 2500ms ease-in-out forwards;
  animation-delay: 2000ms; }
#contact-me .hidden_element {
  visibility: visible;
  transition: visibility 500ms ease-in-out;
  animation: hideContactBox 2500ms ease-in-out forwards; }
#contact-me .contact_me_box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 350px;
  margin: 0 auto 50px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media (min-width: 768px) {
    #contact-me .contact_me_box {
      max-width: 350px; } }
  #contact-me .contact_me_box li {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-right: 10px; }
    #contact-me .contact_me_box li:last-child {
      margin-bottom: 0px; }
  #contact-me .contact_me_box a {
    word-break: break-all;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    color: #272626; }
#contact-me .close_envelope {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px; }

@media (min-width: 768px) {
  .fixed {
    position: fixed;
    z-index: 999;
    height: 80px;
    width: 100%;
    animation: smoothScroll 1s forwards; } }

/*# sourceMappingURL=style.css.map */
