@import "reset";
@import "vars";
@import "fonts";
@import "layout";
@import "animations";

//sections
@import "sections/nav";
@import "sections/portfolio";
@import "sections/about-me";
@import "sections/skills";
@import "sections/experience";
@import "sections/contact";

.fixed {
  @media (min-width: 768px) {
    position: fixed;
    z-index: 999;
    height: 80px;
    width: 100%;
    animation: smoothScroll 1s forwards;
  }
}
